<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anime List</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header id="header">
        <div class="container_header">
            <div class="logo">logo</div>
            <nav>
                <ul>
                    <li>Home</li>
                    <li>Reportar</li>
                    <li>Anime</li>
                </ul>
            </nav>
        </div>
    </header>
    <main id="app">
        <section :style="250px  * anime.length" class="container_anime">
            <div @click="handleAnimeModal(anime)" v-for="anime in animes" class="anime">
                <h5 class="anime_title">{{anime.title}}</h5>
                <div class="anime-container_img">
                    <img @load="loadImage" :src="anime.image_url" alt="">
                    <div v-if="loadImg" class="load"></div>
                </div>
            </div>

            <div class="container_modal">
                <div class="modal"></div>
            </div>
            <div v-if="load" class="load_anime"></div>
        </section>
    </main>
    <script src="./vue.js"></script>
    <script src="./script.js"></script>
</body>
</html>